table, td {
	border: none;
	padding: 5px;
	height: 80%;
}
.blackcircle {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: black;
}
.redcircle {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: red;
}
.whitecircle {
	margin: 0 auto;
	height: 100px;
	width: 100px;
	border-radius: 50%;
	background-color: white;
}

#connectFourTitle {
	font-family: 'Comfortaa', cursive, monospace;
}
